/* styles.css **/

body {
    background-color: rebeccapurple;
    margin: 0%;
    padding-top: 50px;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.subsection.header {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Chewy';
}

.subsection#preview {
    color: white;
    font-size: 20px;
    text-align: center;
}

a {
    color: coral;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: black;
}


ul {
    background-color: lightblue;
    padding: 0px;
}

li {
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

li:hover {
    background-color: brown;
}

.element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}